.main__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background: url("/public/photos/backgrounds/control-painel-background.jpg") lightgray 50% / cover no-repeat;
}

.control-painel__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

    gap: 20px;

    padding: 16px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.drawer-menu__button-container {
    background-color: #fff;
    border-radius: 10px;
    width: min-content;
    height: 100%;
}

.control-painel__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
}

@media (max-width: 1024px) { 
    .main__content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: #fff;
        overflow-x: hidden;
    }
    
    .control-painel__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
    
        gap: 20px;
    
        padding: 16px;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
    }
    
    .drawer-menu__button-container {
        background-color: #fff;
        border-radius: 10px;
        width: min-content;
        height: 100%;
    }
    
    .control-painel__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        flex: 1 0 0;
        align-self: stretch;
    }
}